.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build

.idea/modules.xml
.idea/.name
.idea/misc.xml
.idea/gradle.xml
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/vcs.xml